[2018-02-26 14:45] MrFrankel opened #1 "Add example page"

[2019-02-25 09:05] sanjaypraja opened #2 "Not supporting with Angular 7"
Dear Frankel,

Great Solutions ! Thank you.
Given Sample present using UIRouterModule, It's working fine. I tried with Angular 7 using RouterModule but given error. Please suggest me how can i fix it.
ERROR Error: Uncaught (in promise): Error: "extapp" was not created by "http://localhost/ext1.js"
Error: "extapp" was not created by "http://localhost/ext1.js"
    at app.js:90865
    at ZoneDelegate

[2019-02-25 09:21] MrFrankel commented on #2
@sanjaypraja Hey,
Can you please provide the app.module files for both the apps?

[2019-02-25 10:11] sanjaypraja commented on #2
**For ext-app-1**

**_ext.prod.module.ts_**

import {NgModule, ApplicationModule, CUSTOM_ELEMENTS_SCHEMA} from '@angular/core';
import {UIRouterModule} from '@uirouter/angular';
import {CommonModule} from '@angular/common';
import {ExtComponent} from './ext.component';
import {WelcomeComponent} from './welcome.component';
import { extRouting } from './app-routing.module';

@NgModule({
  imports: [

[2019-02-25 11:55] MrFrankel commented on #2
this isn't related to Angular 7, it seems you are not configuring the router correctly, ill try to get a sample for you

[2019-02-25 12:00] sanjaypraja commented on #2
Thank you for prompt response. I will wait for sample.

[2019-02-25 15:06] MrFrankel commented on #2
Iv'e just pushed in an example with Angular router updated to Angular 7

[2019-02-26 10:29] sanjaypraja commented on #2
Dear Frankel,

Thank you for share this solution. It is working fine :).

We are going to develop multi product with common components modules & libraries. also use OIDC for authentication and authorization.

I have few question with your solution to fit in our requirement.

1. I tried to compare between my Angular 7 project with your project then after found that You have not use default angular

[2019-02-27 22:28] StephenRansom commented on #2
Hi Sanjay, it appears the answer to your first question might be that you are using angular-cli while MrFrankel does not appear to be. That said, @MrFrankel with angular cli ownership of webpack configs, would you say that this loader is compatible with angular-cli as well as vanilla angular projects?

[2019-02-28 08:55] MrFrankel commented on #2
Hey @StephenRansom and @sanjaypraja, Indeed the differences are due to this example project not being an Angular CLI project.
It is however possible to add share-loader to Angular-CLI configuration using custom builders.

I dont have an example of this yet but ill try and get one some time soon, though there are exmples out there for custom builders if you care to try it your self, if you do, plea

[2019-02-28 08:59] MrFrankel commented on #2
as for the other questions.
2. If you have common components between project's you can either exports them to a npm package which you can share between projects, and then at runtime share them from the shell-app via share loader to avoid having multiple instances of them.
3. Same here, you can share the libraries instances using share-loader to avoid having multiple instances at runtime.
4.Not sur

[2019-03-05 08:55] MrFrankel commented on #2
I have added an example of using share-loader with Angular-cli, you can look at the example-cli part in the Readme.

[2019-03-05 08:55] #2 closed

[2019-03-05 08:56] #1 closed

[2019-03-06 12:07] thanikc opened #3 "Problems with Angular i18n"
I'm not sure if this issue should be addressed here, but since in the examples you use it with angular. The share-loader breaks the angular application, if i18n is used. When the function `registerLocaleData(data, localeId, extraData)` is called `localeId` is undefined.

[2019-03-06 12:10] MrFrankel commented on #3
@thanikc can you provide more details?
Your webpack config? angular.json?

[2019-03-06 16:40] thanikc commented on #3
@MrFrankel I have an example in my [git repository](https://github.com/thanikc/ng-micro/tree/i18n)
The app works until I add these lines to angular.json:
`"i18nFile": "src/i18n/messages.en.xlf",`
`"i18nFormat": "xlf",`
`"i18nLocale": "en",`
The error is then thrown at runtime.

[2019-03-07 10:38] MrFrankel commented on #3
ill take a look

[2019-03-07 11:06] MrFrankel commented on #3
I dont see in you repo that you are using the share-loader correctly,
I have added a folder in this repo called example-cli, check it out.
It uses @angular-builders/custom-webpack not ngx-build-plus but the concept is the same.

Also, you should probably load the external angular modules using angular Router API(loadchilden)

[2019-03-07 11:17] amaneer94 opened #4 "Problem with @angular/material"
I Updated the package.json file which look like following

    "name": "ext-app-1",
    "version": "0.0.0",
    "private": true,
    "dependencies": {
        "@angular/animations": "7.0.4",
        "@angular/cdk": "7.0.4",
        "@angular/common": "7.0.4",
        "@angular/compiler": "7.0.4",
        "@angular/core": "7.0.4",
        "@angular/forms": "7.0.4",
        "@angular/http": "7.0.4",

[2019-03-07 11:21] MrFrankel commented on #4
@amaneer94 did you add material module to the shell-app?

[2019-03-07 11:27] amaneer94 commented on #4
No, just added in external app

[2019-03-07 11:29] MrFrankel commented on #4
So your external app is probably sharing all angular modules from the shell-app, it would probably be best to add it to the shell app and share it in the external apps

[2019-03-14 11:01] sanjaypraja opened #5 "Not loading with ng build --prod"
Dear Maor Frankel,

Thank you to share Angular cli project with us & it's working fine.
We are facing one issue when we are going to deploy on production server. For production deployment we are using **ng build --prod** but it's not loading the exposing app.

**Working Case:**

For exposing app, server deployement command **npm run ng run ext-app1:build-ext**
For consumer app, server deployment c

[2019-03-14 13:51] MrFrankel commented on #5
@sanjaypraja the issue is because you are running in aot mode, you can turn aot mode off in the angular.json

 "aot": false,
 "buildOptimizer": false

I am working on an AOT compatibly solution, hopefully in the next few days

[2019-03-14 14:39] MrFrankel commented on #5
it seems if you can force the JIT complier to be included in you AOT app, it will increase your bundle size for your shell app but other then that it you can benefit from all other AOT perks.

here's an example:

shell-app/app.module.ts

[code]

[2019-03-15 07:02] sanjaypraja commented on #5
Thank you! yes, bundle size increase with JIT compiler.
have you another way to decrease the bundle size?

[2019-03-15 07:43] MrFrankel commented on #5
Unfortunately, there is an issue with Angular lazyloading mechanism, If the loadchildren method is passed a promise, it passes it to the JIT compiler.
Hopefully they will fix this at some point. however, if you have a vendor bundle on your shell app it should be cached so it shouldn't have a significant toll on loading time and since the shell app is AOT, you will still get great performance at lo

[2019-03-15 08:01] sanjaypraja commented on #5
issue has been resolved. Thank you!

[2019-03-15 13:31] MrFrankel commented on #5
so it seems it is possible to load an external module without the Jit Compiler, it is required to set the external module build to AOT too.
however it requires some hacking around angular bootstrapping code.

I'll add task to abstract this via an option through share-loader.

[2019-03-15 13:31] #5 closed

[2019-03-15 13:35] MrFrankel opened #6 "allow for external AOT modules"
right now it is possible to load external modules when shell app is AOT, however it is required to import the JitCompiler manually and the external modules cant run in AOT.

it is possible to build the external modules in AOT and expose their AppModuleNgFactory to be consumed by the router, it is also required to stop the actual call to bootstrap as it is a feature module.

[2019-04-15 17:05] marcelo-vrgs opened #8 "Error to add new cli application to sample: "Uncaught (in promise): TypeError: Cannot read property 'AppModule' of undefined""
Hi guys!

I tried to create add a new external module to the project with the following steps:
- ng new menu
-- Would you like to add Angular routing? Y
-- Which stylesheet format would you like to use? CSS
- npm i share-loader --save-dev
- npm i @angular-builders/custom-webpack --save-dev
- create file extra-webpack.config.js
`const path = require('path');
const {Externals} = require('share-loade

[2019-04-15 20:10] marcelo-vrgs commented on #8
Hi!
I solve the problem just changing `importHelpers` to false on tsconfig.json

[2019-04-16 08:00] MrFrankel commented on #8
@marcelo-vrgs gr8!, happy to hear, can we close this then?

[2019-04-16 13:55] #8 closed

[2019-04-16 16:41] marcelo-vrgs opened #9 "How to deal with Multiple Router-Outlets (Auxiliary Routes)?"
Hi!

I have a case where I need to load 3 router-outlets from main application. There is any way to do that?

- app.component.html
[code]

[2019-04-16 19:55] MrFrankel commented on #9
This should work as useual, just add  `outlet: 'header'` to the route definition

[2019-04-16 20:10] marcelo-vrgs commented on #9
Yes, you're right!

- component.html
[code]

- app.states.ts
`export const appHeaderState = {
  path: 'header',
  outlet: 'header',
  loadChildren: () => {
    return loadScript('http://localhost/header/main.js', 'header6', 'AppModule');
  }
};
`

[2019-04-16 20:10] #9 closed

[2019-05-03 21:33] dsuwirya commented on #6
Hello,

None of the prod / AOT build for either `example-cli\ext-app1` or `example-cli\shell-app` seems to work, with the following errors:

![image](https://user-images.githubusercontent.com/5710527/57166725-a7549f00-6dc0-11e9-8f5b-fd584efc66bf.png)

![image](https://user-images.githubusercontent.com/5710527/57166758-c4896d80-6dc0-11e9-88a9-7a2c7f74397f.png)

Could you please give me pointer what

[2019-05-15 11:54] alexej-strelzow opened #12 "Problem with Clarity"
Hi Mr Frankel,

I'm trying to use [(clarity)](https://clarity.design/documentation/get-started) as a component library and it's not going very well.
I've tried many approaches with the webpack and cli-way for the shell app. I've tried to share the library via the shell-app. Both times, AppModule cannot get loaded properly.

The standalone approach does not work either. Strangely, for the cli-appro

[2019-05-15 13:45] alexej-strelzow commented on #12
I could get it to work with both techniques. I am not sharing any clarity modules now and I had to load the vendor.js from the external app prior loading the external app.

[2019-05-15 17:48] MrFrankel commented on #12
can you provide a repo?

[2019-05-20 17:38] alexej-strelzow commented on #12
Sorry for the late reply, I'll provide one by the end of the week!

[2019-05-21 13:04] amaneer94 opened #13 "How can I use existing angular 7 application as external app. Please provide steps to follow."

[2019-05-22 11:03] alexej-strelzow commented on #12
issue resolved, needed to provide those two module entries /@clr\/angular/,/@clr\/ui/

[2019-05-22 11:03] #12 closed

[2019-05-23 16:29] alexej-strelzow commented on #6
This error is resolved fast - declare and export AppComponent in AppCommonModule = own NgModule and import it in the other ones.

To be able to build the app with AOT through custom build you need to pass --configuration=production, e.g. "build:prod": "ng run app1:build-prod --configuration=production".

But then it is more or less a dead end. I added the JiT Compiler ass in issue #5. Got an error

[2019-05-23 20:16] alexej-strelzow commented on #6
I think loading aot bundles at runtime is not possible yet, see this question:
https://medium.com/@andreelrico/is-it-possible-with-this-approach-to-load-specific-modules-dynamically-at-run-time-623a54ebafa0
answer
https://medium.com/@andreelrico/is-it-possible-with-this-approach-to-load-specific-modules-dynamically-at-run-time-623a54ebafa0

regarding to this article: https://wesleygrimes.com/angul

[2019-05-23 20:20] MrFrankel commented on #6
it's currently possible to load a JIT module into a AOT application at runtime as long as the compiler is provided in the ATP application.
It is also possible to load ATO module into a AOT application, but I have not yet gotten a chance to spec a full demo for it yet.

I've been really busy so i'm not sure when id get around to it, maybe next week somtime

[2019-05-24 09:46] alexej-strelzow commented on #6
Ok, thank you very much for sharing your knowledge! I'm very looking forward to your AOT solution.
Strangely I cannot run the composition layer with AOT and app with JIT (even though I followed your steps). Getting this error:
![image](https://user-images.githubusercontent.com/16270237/58318642-793f0980-7e18-11e9-97b3-88ff2bb0b159.png)

But if the AOT solution works, I won't care about that. Thank

[2019-05-26 21:46] alexej-strelzow commented on #6
@MrFrankel share-loader will also work with Angular 8 and Ivy, right?
https://fireship.io/snippets/lazy-loaded-routes-angular-v8-ivy/

[2019-05-28 06:53] MrFrankel commented on #13
@amaneer94 the example application in the repo are Angular 7, both webpack and CLI. you can follow them, if you have specific questions let me know.

[2019-05-28 06:55] MrFrankel commented on #6
@alexej-strelzow I havnt tried it with Ivy yet, but share-loader is platform agnostic. it simply help expose modules outside of webpack's namespcae and allows external bundles to consume them.

As for the issues you are facing, if you can provide a repo I can look at I can try to help.

[2019-05-28 07:54] ofirbenezra opened #14 "How to load external module/micro app not via route"
Hi MrFrankel,
I'm trying to load an external module not via route (in the loadChildren) and call some function on.
I've tried using the loadScript function and the .js is indeed loaded but it is not loaded in the same way done by the router (i.e the dependencies are missing).
I've tried to also do it with import() but i could get it to working with module which isn't feature module. i.e. the modul

[2019-05-28 08:34] MrFrankel commented on #14
hey, can you share a repo or code sample?

[2019-05-28 09:22] alexej-strelzow commented on #6
Thank's, just sent you an invite

[2019-05-28 11:57] ofirbenezra commented on #14
Hey.
Thank you for the quick reply.
I can prepare a repo or some code sample but what I want to achieve is dynamic (UMD) module loading of the external module (ext-app1 in your sample). Will I need to compile the module (compileModuleAndAllComponentsAsync) in order for this to work?
If you need some more info please let me know.

[2019-05-28 12:34] MrFrankel commented on #14
yes, you will need to pass any module loaded at runtime through Angular compiler.
even AOT module need's to pass through Angular NgModuleFactoryLoader

[2019-05-28 13:12] ofirbenezra commented on #14
Thank you.
I'll try that but that seems a bit cumbersome in order to do "cross app/module communication".
My initial though was about having some message/event bus that the shell application would emit event and the external app would listen to it. but still I need to load the external app before emitting the event.
Do you have any other suggestion on how to approach that?

[2019-05-28 13:23] MrFrankel commented on #14
but the external module is an Angular module right? it has to go through the Angular module loading process in order to be available to Angular.

Generally speaking, the bundle that you are loading externally is just JS, meaning you can have some code that that adds an eventlistener on the body for instance, once the bundle is loaded into the document you can fire say event on the DOM by the shell

[2019-05-28 13:36] MrFrankel commented on #6
@alexej-strelzow I've run your application from the repo.
The login module loads fine.
I had some issues with the reverse proxy for the post login module but once I sorted that out it worked fine as well, what am I missing?

[2019-05-28 13:42] ofirbenezra commented on #14
Can you show some code (even pseudo) that demonstrates that?
I'll need to render components from the external app. Would that work with the above or like you said the only way would be to go through the Angular module loader?
Thanks a lot for all the help.

[2019-05-28 13:52] MrFrankel commented on #14
i'm not sure i'm following you all the way,
you want to use the components in the external bundle without compiling and loading the module?

[2019-05-28 14:08] alexej-strelzow commented on #6
@MrFrankel : ok, what you saw was the functioning JIT version. Please change to AOT in angular.json ->
              "optimization": true,
              "outputHashing": "none",
              "sourceMap": false,
              "extractCss": true,
              "namedChunks": false,
              "aot": true,
              "extractLicenses": false,
              "vendorChunk": false,
              "

[2019-05-28 14:11] ofirbenezra commented on #14
Let me explain - what I was asking if the method you've suggested ("... theortically if you pass in that event the main injector the external module can load itself into Angular") will enable me to show use components from the external module (which is something I need) or the only way to do that would be by going through the Angular module loader?

[2019-05-29 09:21] alexej-strelzow commented on #13
@amaneer94 , as MrFrankel pointed out, but here are the key steps:
1. add build-ext script to angular.json (references extra-webpack.config.js)
2. add extra-webpack.config.js (contains config for share-loader)
3. add app.external.module (does not bootstrap any AppComponent)
4. make sure everyting is bundled in one bundle (--no-vendor-chunk) or --configuration production (uses production properties

[2019-05-29 10:51] alexej-strelzow commented on #6
@MrFrankel : sorry about the proxy, just pushed a new version. I also exported AppCommonModule in the external AppModule. Do you see the problem with AOT?

[2019-05-29 10:54] MrFrankel commented on #6
yes. im workling on it

[2019-05-29 10:55] alexej-strelzow commented on #6
@MrFrankel : thank you very much!

[2019-05-29 11:24] amaneer94 commented on #13
@alexej-strelzow much appreciated. I will try those steps. Closing the issue. Just in case of further queries on it will re-open the issue.

[2019-05-29 11:24] #13 closed

[2019-05-29 11:40] alexej-strelzow commented on #13
@amaneer94 : you're welcome. What helped me was to create an angular project from scratch (ng new ...) and then try to get it work with share-loader (as shown in the example-cli folder). I think that helps you the most in understanding everything - details matter (e.g. library name in extra-webpack config and bootstrapping in sLoader.ts in composition layer, etc.).

[2019-05-29 19:04] #4 closed

[2019-05-29 19:04] #3 closed

[2019-05-30 17:26] MrFrankel commented on #6
@alexej-strelzow  i'm still looking into this, however this does seem to work fine in the example-cli app with the same dependencies. so i'm not sure what's going on here. seems to be related to the injector scope.

[2019-05-30 21:28] alexej-strelzow commented on #6
@MrFrankel : really? When I try to build example-cli/ext-app1 with AOT (and serve main.js with simple express server), I get the following error in Console when loading ext-app1:

![image](https://user-images.githubusercontent.com/16270237/58665962-5342c900-8332-11e9-90f6-b07339b38f5a.png)

How did you resolve this? I'm not using buildOptimizer and I'm exporting AppCommonModule.
In shell-app, I've

[2019-05-31 08:12] MrFrankel commented on #6
@alexej-strelzow I ment that the example app work with AOT disabled for the external app.
But i've also got it working with AOT enabled, ill push it in later.
It still requires a little of hard wiring, since AOT does a lot of 'magic'.

But you can get you app working with AOT I believe, ill keep working on abstracting some of the hot wiring involved.

[2019-05-31 14:03] alexej-strelzow commented on #6
@MrFrankel : I see, ok, that sounds doable (composition layer with AOT). I'm currently looking into this.  Thank's again and have a nice weekend!

[2019-05-31 18:12] alexej-strelzow commented on #6
@MrFrankel , I solved the AOT issue for the CL.
Basically I had to import polyfills.ts in main.ts and add the following two imports in polyfills.ts:
import 'core-js/es6/reflect';
import 'core-js/es7/reflect';

can't wait to have the full app working with AOT. Thank's again for pointing me in that direction!

[2019-06-02 13:07] MrFrankel commented on #6
@alexej-strelzow  i've pushed in the AOT solution, you can read in the README how to run it.
LMK if you have questions

[2019-06-02 17:01] alexej-strelzow commented on #6
@MrFrankel : thank you very much - the demo works like a charm. I'd like to integrate that in my app and try it out there. I think you have to build a new version, right? share-loader (index.js) got updated, correct?
To be able to build and integrate an (external) app into the shell app one must modify the (external) app as follows:

- update package.json: add last-call-webpack-plugin, replace-in-

[2019-06-02 18:40] MrFrankel commented on #6
@alexej-strelzow  replace-in-file-webpack-plugin, webpack-plugin-replace  are not necessary.
you should be on share-loader latest

regarding the main.prod.ts, Angular CLI looks for `platformBrowserDynamic().bootstrapModule(AppModule)` call to traverse through the app, part of the "AOT Magic".
In order for the AOT compilation to work we need to supply it with a dummy call for platformBrowserDynamic

[2019-06-02 20:10] alexej-strelzow commented on #6
@MrFrankel  thank's for the explanation, I understand. Ok, meanwhile I'll install like that

I'm getting an error during loading of main.js (pushed my code) - if I can't resolve it by tomorrow I'll let you know.

[2019-06-03 09:54] alexej-strelzow commented on #6
@MrFrankel : quick update for you. I got it working, BUT seems like sharing clarity does not work. Can you give it a look please? Login comes with its own clarity (works), basic-data relies on container -> does not work. Start both apps with "npm run serve:prod:aot", composition layer with npm run serve:prod and proxy with npm run start. Then type in something in login mask -> login -> boom

![ima

[2019-06-03 10:10] MrFrankel commented on #6
can you push the updated state to your demo repo?

[2019-06-03 10:48] alexej-strelzow commented on #6
@MrFrankel : see last commit

[2019-06-03 15:38] alexej-strelzow commented on #6
@MrFrankel : fixed it, had to exclude the ngfactory:
exclude: [/router.ngfactory/,/clr-angular.ngfactory/]

[2019-06-03 15:41] alexej-strelzow commented on #6
@MrFrankel : thank you very much for all your support - Issue is hereby closed! :)

[2019-06-03 15:42] alexej-strelzow commented on #6
@MrFrankel : would you be so kind to bump the version, so I don't have to install from the master branch? Thank you!

[2019-06-03 23:16] alexej-strelzow commented on #6
@MrFrankel : quick question. What do I have to do to be able to use chunkhash in the file name (for cache busting)? e.g. main.7e18c010a7b0ea3f4b10.js
The file gets loaded correctly, but then cannot be handled by share-loader (as it seems):
![image](https://user-images.githubusercontent.com/16270237/58840549-57d6ec80-8666-11e9-896d-04687fc8d270.png)

[2019-06-04 11:06] amirgro commented on #6
Hey @MrFrankel
seems we are also stuck on this issue. our shell app uses AOT and we get this error once it tries to load the external app:
![image](https://user-images.githubusercontent.com/9915198/58874513-b1c0cc00-86d1-11e9-93c3-c4b25e4e42d3.png)
looks very similar to this issue here: https://github.com/angular/angular-cli/issues/8429
Any idea what were missing? Tried to look on the examples but

[2019-06-04 11:49] alexej-strelzow commented on #6
@amirgro : You are running your shell app in AOT, but your external apps in JIT. To make that work you need to provide the JIT compiler in your shell-app.

[2019-06-04 19:23] MrFrankel commented on #6
@alexej-strelzow changes were reverted in  #15.

[2019-06-04 19:25] MrFrankel commented on #6
@amirgro, like @alexej-strelzow mentioned, you can add the JIT compiler to you shell-app, this will allow you to consume the external-app that is not built using AOT.
If you want the external app to be AOT, that's a bit more tricky, I have pushed a version that supports this in the recent example-cli app in the repo.
There is also an extensive conversation regarding this in this issue.

[2019-06-04 19:57] alexej-strelzow commented on #6
@MrFrankel : you said reverted - that means that AOT is not going to work with the current version (master) ?

[2019-06-04 20:08] MrFrankel commented on #6
No, it should still work, the changes were by mistake.
I havnt released a new npm version either

[2019-06-04 20:23] alexej-strelzow commented on #6
Ok, got it. Just checked - yes - still working 👍

[2019-06-05 22:33] alexej-strelzow commented on #6
@MrFrankel : I think I still had the old version in my node_modules. The merge request https://github.com/MrFrankel/share-loader/commit/57ea1596781fc9b776598c726d3300530a262ed2

destorys my app:

![image](https://user-images.githubusercontent.com/16270237/58994943-97cada80-87f2-11e9-9705-340b49884c49.png)

when I undo the changes it works! Can you provide a fix?

[2019-06-10 06:44] MrFrankel commented on #6
@alexej-strelzow  not sure I follow, what version of share-loader is breaking you app?

[2019-06-10 13:30] alexej-strelzow commented on #6
@MrFrankel : because there is no dedicated version with the AOT fix, my project relies on the master branch -> "share-loader": "github:MrFrankel/share-loader#master"
This worked fine till commits on 04. June got into the master branch.
Starting my app with the latest changes (from 04. June) leads to the error above (see my previous post).

I am not able to use github:MrFrankel/share-loader#master

[2019-06-10 18:13] MrFrankel commented on #6
I haven't made any changes to the share-loader lib itself, so it shouldn't break anything.
Ill look into it and getting a fixed version out for you. sorry for the inconvenience

[2019-06-11 11:12] alexej-strelzow commented on #6
@MrFrankel : Thank's! Really appreciate your help!

[2019-06-16 21:05] alexej-strelzow commented on #6
@MrFrankel any luck with the bug?

[2019-06-17 11:07] MrFrankel commented on #6
@alexej-strelzow sorry for the delay, it's been a busy week.
I've just run the example-cli project with share-loader 0.6.2 both in the shell-app and external app and it works.
are you sure you are using share-loader@0.6.2 on all apps?

[2019-06-19 11:05] alexej-strelzow commented on #6
@MrFrankel : I changed my version to 0.6.2 and it seems to work. I guess the whole version thing was a misunderstanding. I thought the "latest" version is the master branch, because at the time you pushed the AOT example also the share-loader (index.js) changed - by mistake as I know now.

So, then I think we can resolve this issue. Thank's for this awesome library. Really appreciate that you shar

[2019-06-19 17:04] marcelo-vrgs opened #16 "How to use ngx-translate/core with child application"
Hi guys!

I'm using ngx-translate/core (https://github.com/ngx-translate/core), but I can't find a way to execute the step "2. Init the TranslateService for your application".

The problem is how to execute the code below in a child application. The common way is to use the appComponent constructor and the code will run just with the first load, but with share-loader I can't find a place to do thi

[2019-06-20 14:25] #6 closed

[2019-06-20 14:26] MrFrankel commented on #16
can you provide a repro ?

[2019-06-21 10:40] mtuzinskiy commented on #14
@ofirbenezra  Hi, it's a well addressed problem in Angular world, e.g.:
https://netbasal.com/the-need-for-speed-lazy-load-non-routable-modules-in-angular-30c8f1c33093
https://www.youtube.com/watch?v=pERhnBBae2k
It's not related to share-loader solution :)

[2019-06-21 15:17] marcelo-vrgs commented on #16
I put the code at:
https://github.com/marcelo-vrgs/share-loader-with-ngxtranslate

The main problem is  that I've routes to many external components and I need to initialize ngx-translate every time just because I don't have a common entry point (eg.: ).
Example:
1 - Click at "external app 2 (without translation initializer)" -> the message is "Show common.greetings"
2- Click at "external app (wit

[2019-06-21 15:55] alexej-strelzow commented on #14
@ofirbenezra : if you need multiple micro frontends on 1 single page you can add auxiliary routes (named router-outlets). In that way one will be in your main router-outlet and the other in the auxiliary one.
And as @mtuzinskiy pointed out: it is not related to share-loader solution

[2019-06-24 18:20] sanjaypraja opened #17 "Problem with Angular 7 Library"
Hi @MrFrankel

I have create Library in Angular 7 which have one service with one function.
Create Library with these steps
1. command ng generate library {libraryname}.
2. create one service "UtilService" with one function
3. ng build {libraryname}
4. install new library in ext-app.
5. & also install in shell app.

My project is working fine without new library (both ext and shell app).  Also I h

[2019-06-24 18:23] MrFrankel commented on #17
Can you provide a reporo?

[2019-06-24 18:28] sanjaypraja commented on #17
Libray code is here: https://drive.google.com/file/d/1-8z8Ws3k0bH4kXF-stWrFZqtVOgJF38z/view?usp=sharing

[2019-06-24 19:05] MrFrankel commented on #16
@marcelo-vrgs  the issue you are facing is caused due to you not sharing the translate module between you apps. each one is running it's own instance and therefore needs reinitialized.

Iv'e created a PR in your reporo, let me know if it's clear.

https://github.com/marcelo-vrgs/share-loader-with-ngxtranslate/pull/1

[2019-06-25 11:18] sanjaypraja commented on #17
Hi @MrFrankel
Hope you find code.  I have tried with current version share-loader but error found.
![image](https://user-images.githubusercontent.com/2256488/60093765-e7545480-9767-11e9-8814-d2ee50aeaf66.png)

[2019-06-25 11:36] MrFrankel commented on #17
@sanjaypraja I will look at it later today I hope

[2019-06-27 07:25] sanjaypraja commented on #17
@MrFrankel have you any chance to look these issues? For Angular CLI ext-app1 &

[2019-06-27 07:34] MrFrankel commented on #17
Unfortunately I have not had the time, I hope to get to it in the next couple of days.

[2019-07-02 05:08] sanjaypraja commented on #17
@MrFrankel Anngular CLI project is working fine. it was some version problem in my system.

[2019-07-02 05:31] sanjaypraja commented on #17
@MrFrankel I think I got solution, It was my mistake not give reference in Shell-app extra-webpack.config.js.

[2019-07-02 05:31] #17 closed

[2019-07-09 07:52] sai-gmbh commented on #6
@MrFrankel Would you mind providing an example app with lazyloading as well

[2019-07-15 07:49] MrFrankel commented on #16
@marcelo-vrgs can we close this?

[2019-07-16 16:57] marcelo-vrgs commented on #16
Yes, it's all clear now

On Mon, Jul 15, 2019, 04:49 Maor Frankel <notifications@github.com> wrote:

[2019-07-18 14:23] alexej-strelzow opened #18 "How to provide two different Angular Versions in Shell App"
Scenario: Shell App and some MF are in Angular 7, and now an Angular 8 app should get integrated into the Shell/Composition Layer (CL).

What I have so far:
Both dependencies in CL - Angular 8 installed as Alias as follows:
[code]

Result:
![image](https://user-images.githubusercontent.com/16270237/61465176-d4ecc580-a977-11e9-9c41-8f34f6da0f88.png)

I am able to provide Angular 8 in the window obj

[2019-07-22 07:24] MrFrankel commented on #18
@alexej-strelzow since this solution relies on providing a module that will be imported at run time to the app module both application need to share a single Anguar instance.
If you want to run your external application with a different Angular instance I suggest you compile it without the externals webpack configuration and bootstrap it’s app module to a separate node in the DOM.

However I must

[2019-07-22 07:26] MrFrankel commented on #18
If you do want to access the angular8 instance from the external application you can do it via the externals configuration in the external package webpack config. i.e:
externals:
{
angular: ‘angular-8’
}

[2019-07-22 11:22] alexej-strelzow commented on #18
@MrFrankel : you're right
This is not a good idea indeed. I ended up integrating the MF (with Angular != Angular CL) via a wrapper component (in the CL) which embeds the MF via iFrame. So the MF can ship whatever it wants (also Clarity v1 cannot co-exist with Clarity v2 - which is used with Angular 8).

case closed

[2019-07-22 11:22] #18 closed

[2019-07-22 23:09] gesanchez opened #19 "Angular Version Supported"
Hi !

This looks great, great job. I have a question. Which angular version is supported? i am trying to get work with the version 6.0.0 but i dont reach it work

[2019-07-23 22:54] gesanchez commented on #19
@MrFrankel I resolve my problem, just upgrade @angular-devkit/build-angular and work like a charm

[2019-07-23 22:54] #19 closed

[2019-07-23 23:02] gesanchez opened #20 "Load assets"
Hi!,

I am trying to load an image from the project (not in shell) but the image dont load because is trying to reach it in the shell app

How i can fix this?

thks

[2019-07-26 06:58] Muhammat97 opened #21 "Communicating between apps"
Sorry, in your blog, you mention the event bus for communicating between apps. Could you please provide an example? I have tried a number of tutorials about that, but it didn't work. Thank you

[2019-07-31 13:12] hboylan opened #22 "Bundle symlinked dependencies"
This loader works great! We're using it to build a [micro-frontend](https://martinfowler.com/articles/micro-frontends.html) application.

One problem I just ran into... We have one NPM package that is being shared between the "container app" and "module" that we would like to `npm link` for development purposes. I'm wondering if it's possible to support with `share-loader`. If so, I'd be happy to

[2019-07-31 13:18] hboylan commented on #22
Actually, I've just found the culprit. Adding the "dot" between `this.query.namespace` and `request` fixed the issue, which you've done [here](https://github.com/MrFrankel/share-loader/blob/master/index.js#L69). So this should be fixed with a simple `npm publish`. 😄

[2019-07-31 13:21] hboylan commented on #20
My understanding is that this loader is intended for sharing npm packages. Your best bet might be to host the image and reference it via url.

[2019-08-14 08:43] MrFrankel commented on #22
@hboylan sorry for the late reply, i've been away. you mean the latest code isn't published?

[2019-08-14 08:44] MrFrankel commented on #21
@Muhammat97 , sorry for the late reply, i've been away. ill try write an example here soon.

[2019-08-14 08:45] MrFrankel commented on #20
@gesanchez, sorry fot the late rely, you can either load the image in base64 form or store it in a globally available url.

[2019-08-14 08:45] #20 closed

[2019-08-14 08:46] #16 closed

[2019-08-14 11:27] hboylan commented on #22
No worries. I appreciate the reply.

Correct. I've been manually editing `/node_modules/share-loader/index.js` for the time being. Would really appreciate a fresh publish.

[2019-08-19 07:42] MrFrankel commented on #22
@hboylan released in 0.7.0

[2019-08-19 19:56] #22 closed

[2019-08-27 18:54] EvandroApSantos opened #23 "Share-loader with ng-zorro-antd"
Hi.

First of all, congrats for the project. What a great idea!

I'm using ng-zorro-antd (https://github.com/NG-ZORRO/ng-zorro-antd) in my project and I'm not able to share it's modules between shell and ext apps.
I've created a repro with this scenario: https://github.com/EvandroApSantos/share-loader-ng-zorro

When I run ext app an error is thrown on console:
Uncaught TypeError: Cannot read prope

[2019-08-27 19:06] MrFrankel commented on #23
@EvandroApSantos, thanks for the repro, ill look into it.

[2019-09-10 20:26] RobM-ADP commented on #23
@EvandroApSantos Are you seeing that issue all the time? I get that issue but only when using AOT and the error seems to always be pointing at a factory:

[code]
the `window['container-app']` object doesn't have a property called `node_modules` at all as the error seems to indicate, but even if it did, the `['van-genesis'].core.address` object that is in the `window['container-app']` doesn't have

[2019-09-11 13:18] alexej-strelzow commented on #23
Hi @RobM-ADP : I had a similar problem with clarity-design and solved it as follows

In the CL (Shell):
[code]

In the MF:
[code]

Maybe you can identify the lib you have to share by inspecting your webpack bundle:

In package.json (install "webpack-bundle-analyzer": "~3.4.1"):
[code]

[2019-09-11 14:35] RobM-ADP commented on #23
Thanks @alexej-strelzow. I think the missing piece for me was adding the `ngfactory` part to the `exclude` array. With this approach though, all the ngfactories still end up in the "child" app which I guess is to be expected. It would be nice if that too could come from the shell.

Also, you have to have imported the modules used in the child into the shell in order for them to be in the window wh

[2019-09-11 19:58] RobM-ADP commented on #21
You can communicate via apps with a just an ordinary service:

In shell app.module:
[code]
Then in the child apps, you can inject that:
[code]
The trick is injection token needs to be something that is accessible in both apps. You could use a simple string or the preferred approach would be to have real `InjectionToken` objects that themselves are from a shared library that is excluded from the ch

[2019-09-11 20:27] RobM-ADP commented on #14
@ofirbenezra If you want to load a component from a child app into the shell without routing you can do something like this where you load the module using loadScript but then create the component manually. This is essentially exactly what the route is doing under the covers.

In the parent app:

[code]
For completeness, here is where you would add a static component property to the child module:

[2019-09-11 22:14] alexej-strelzow commented on #23
@RobM-ADP : yes, that is a tricky one and I just came by it (excluding the factory) by chance.
The next two points (what is to be expected) - I agree. Also your 3rd point, e.g. when you want to use Animations or lets just say the HttpClient in your child-app, you have to import the respective modules in the parent.

One quick tip (for free): You can have an app-wide interceptor by just providing H

[2019-09-11 22:18] alexej-strelzow commented on #21
@RobM-ADP  just gave the answer away ;-)

You can write you own Angular library (e.g. @app/shared) and import it in shell + children (via package.json) AND provide @app/shared in the webpack.config from your shell (and importing it in webpack.config from child-app - just like angular-lib) in order to have an application wide singleton (e.g. session-service or private event-bus) ;-)

See: https://b

[2019-09-12 12:32] alexej-strelzow commented on #14
@RobM-ADP : thank you so much for this solution (reminds me of Wes Grimes' one - see link at the bottom of this comment). I already gave it a try and it works like a charm.

However, I discovered a limitation: the micro frontend cannot have its own independent routing when you use this solution. So it's perfect for widgets (e.g. complex lists with search functionality). If you need routing then yo

[2019-09-12 13:10] RobM-ADP commented on #14
@alexej-strelzow I would say that if you are using routing in the child app, you probably would be loading the child app with routing in most cases. But it would probably be good for some of these limitations to be documented. @MrFrankel - Would you accept PRs with some of these gotchas and examples in a README?

[2019-09-12 13:54] RobM-ADP commented on #23
@alexej-strelzow One thing that I did was to put this into my webpack config in the child. When I build the child it outputs a script to the console that can be executed in the running parent app to tell whether or not anything externalized in the child is missing in the parent.

Right now running it is a manual process but I think you could use pupeteer to actually fireup the real app and run it

[2019-09-19 15:27] RobM-ADP opened #25 "Externalizing @angular/core prevents lazy modules for being output in build"
If you create a lazy route in the child app, it's bundle will not be output if you externalize @angular/core.

Output when externalizing `@angular/core`
[code]

Output when not:
[code]

`1.js` is the lazy route module. Obviously you can see that the main.js is more than twice the size when not externalizing core.

NOTE: I don't expect lazy routes to actually work out of the box at the momement sin

[2019-10-02 20:48] gesanchez opened #27 "problems with @angular/material"
Hi @MrFrankel

This plugin is still working with @angular/material

I'm trying to getting work your demo example adding material library, but i'm getting the following error:

main.js:1 Uncaught TypeError: Cannot read property 'bidi' of undefined
    at main.js:1
    at main.js:1
(anonymous) @ main.js:1
(anonymous) @ main.js:1
core.js:15723 ERROR Error: Uncaught (in promise): TypeError: Cannot rea

[2019-10-15 18:48] ofirbenezra opened #28 "Allow hashing of micro/external app"
Hi MrFrankel and all,
I used the demo app (example-cli) and I'm trying to add cache busting functionality to the micro app by using [contenthash] in extra-webpack.prod.config like this:
output: {
    filename: '[name].[chunkhash].js',
    path: path.resolve('./dist'),
    chunkFilename: '[name].[chunkhash].js',
    library: 'ext',
    libraryTarget: 'umd'
  },
...
When I try to run the shell and e

[2019-10-16 08:18] ofirbenezra commented on #28
Found the issue.
The regex in LastCallWebpackPlugin configuration didn't match the bundle name

[2019-10-16 08:18] #28 closed, assigned to nobody

[2019-11-04 17:15] hboylan opened #30 "Load module with default export"
I'm currently unable to load a module that uses a default export. Specifically, `styled-components` uses `default` to conveniently wrap html elements which appears to break the loader.

To reproduce, try adding `styled-components` to your namespace. It should be added to the namespace, but webpack will be unable to load the default import at runtime.

[code]

[2019-11-05 14:35] hboylan commented on #30
More clarity on this issue...

Import the default styled object.
[code]

Notice how the default object is nested one level from the window namespace.
[code]

[2019-11-29 07:34] amitnadhe opened #39 "Not working with Angular 8"
I have updated the cli samples to angular 8 and with Angular 8 i am getting error window["extapp"] is undefined in sLoader.

[2019-12-05 10:07] rohit-neeshu commented on #2
@sanjaypraja I am also getting the same error. Did you manage to solve it? I have mark aot:false in both the project angular.json

[2020-01-22 00:17] Scottimoto commented on #39
I've also upgraded to Angular 8 and I'm getting the same issue. Looks like there have been major changes to webpack dev server between 7-8 now that is it no longer it's own npm package.

Anybody managed to get it working with Angular 8?

[2020-02-08 00:18] alexej-strelzow commented on #39
@Scottimoto please have a look here:

https://github.com/BAWAG-PSK/wrd-bawag-mfa

This repo show-cases the share-loader and how powerful it can be:
 - state-mgmt
 - private shared event-bus
 - etc

[2020-02-08 00:21] alexej-strelzow commented on #21
@Muhammat97 you can find an example of a private shared event-bus (app-wide singleton) here: https://github.com/BAWAG-PSK/wrd-bawag-mfa

[2020-02-10 00:37] alexej-strelzow opened #42 "Angular 9 with Ivy Renderer"
Ivy does not use factories anymore, therefore the LastCallWebpack logic in webpack.config.js is not going to work (putting micro frontend into window object).

I already have a solution for it, which I will share soon. Basic idea: main.prod.ts will use a dynamic import to load the AppModule and put it into the window object.

[2020-02-28 18:58] NishanthRE commented on #6
@MrFrankel Firstly your idea with the share-loader was amzing. i have some doubts. i have created a new angular 9 application into the example cli folder and included all your dependencies like extra-webpack config and changed the angular.json as we need. when triggering the build command i have stucked with the following error
`
Generating ES5 bundles for differential loading...
An unhandled exce

[2020-02-28 19:04] NishanthRE opened #43 "share-loader"
@MrFrankel Firstly your idea with the share-loader was amzing. i have some doubts. i have created a new angular 9 application into the example cli folder and included all your dependencies like extra-webpack config and changed the angular.json as we need. when triggering the build command i have stucked with the following error
`
Generating ES5 bundles for differential loading...
An unhandled exce

[2020-03-09 10:55] Muhammat97 commented on #21
thank you all for the responses

[2020-03-09 10:55] #21 closed

[2020-04-05 04:45] gesanchez commented on #23
@RobM-ADP I have the same issue with angular material when i use AOT, Do you have you is a solution for this ?

[2020-05-03 13:05] alexej-strelzow commented on #43
@NishanthRE : the example from this repo only works with Angular < 9. For Angular 9 you have manually manage to get the app-bundle into the window-object (not via LastCallWebpackPlugin in webpack config.

For this you can use the following trick (es module import):
[code]
This will generate a login-chunk in your dist folder, so your main-chunk gets split into main- and login-chunk, where the login

[2020-05-04 03:47] NishanthRE commented on #43
@MrFrankel/share-loader<mailto:reply@reply.github.com>: Thanks for your response. Surely will do these changes in my app and request is can you please update the share loader sample code for angular 9 in your git because it will be usefull many of the peoples.

Thanks,
Nishant

From: Alexej Strelzow <notifications@github.com>
Sent: 03 May 2020 18:36
To: MrFrankel/share-loader <share-loader@noreply

[2020-07-27 16:51] anjireddy-kata commented on #43
Hello @NishanthRE,

Are you able to resolve the issue? If YES, could you please share us the code. I couldn't able to resolve with above provided solution. Any help would be appreciated.

[2020-08-26 20:22] kirega opened #63 "Issue working with angular material"
Hello,
I am having trouble when working with angular material. I have setup correctly the shell app and created the namespaces for the same. I then created a micro frontend that uses angular material. Problem is that when I route to the app with the angular material I get an error that say I do not have the right modules loaded from angular material.
if anyone has managed to get the above scenario

[2020-09-21 07:44] NicIonCam commented on #63
I am using react material-ui with share-loader and i have the same issue. Did you manage to find a solution @kirega  ?

[2020-10-10 01:12] theonlybenjamin commented on #63
try to import material's modules on the app.module of your exposing app and then, do not import them in the module of your consumer app

[2021-04-02 11:46] myushchenko commented on #43
Also, to resolve this issue you can change "target" from "es2015" to "es5" in tsconfig.json.

[2021-12-15 06:48] bhanuchhabra7 opened #109 "Issues with angular12 Webpack5"
Right now the dependencies of share-loader list webpack4 as peerDependency.
This is the message I get when I do npm i.

share-loader@0.7.0 requires a peer of webpack@^2.0.0 || ^3.0.0 || ^4.0.0 but none is installed. You must install peer dependencies yourself.

And as soon as I try to build the app using angular 12:

./node_modules/@angular/common/__ivy_ngcc__/fesm2015/common.js - Error: Module bu